@model Usuario

@{
    List<Perfume> favoritos = memoryCache.Get<List<Perfume>>("FAV");
    List<Perfume> coleccion = memoryCache.Get<List<Perfume>>("COLECCION");
    List<Perfume> quieroOler = memoryCache.Get<List<Perfume>>("QUIEROPROBAR");
}

<a asp-controller="Perfumes"
   asp-action="Index"
   class="btn btn-outline-info">
    Volver
</a>

@if (Model.Rol == 1)
{
    <a asp-controller="Perfumes"
       asp-action="ListaPerfumes"
       class="btn btn-outline-warning">
        Insertar perfume
    </a>
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/users/@Model.Imagen" style="width:300px; height:300px" />
            <br />
            <br />
            <a class="btn btn-warning" asp-controller="Usuarios" asp-action="CambiarContrasena">Cambiar contraseña</a>
            <a class="btn btn-danger" asp-controller="Usuarios" asp-action="CerrarSesion">Cerrar sesión</a>
        </div>
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                <label>Nombre de usuario:</label>
                <input type="text" name="nombre" class="form-control" value="@Model.NombreUsuario" />
                <br />
                <label>Email:</label>
                <input type="text" name="email" class="form-control" value="@Model.Email" />
                <br />
                <input type="file" name="imagen" class="form-control" value="@Model.Imagen" />
                <br />
                <button class="btn btn-info">Actualizar información</button>
            </form>
        </div>
    </div>
</div>

@if (favoritos != null)
{
    <h1>Mis favoritos</h1>
    <hr />
    @foreach (Perfume perfume in favoritos)
    {
        <div class="card">
            <a asp-controller="Perfumes"
               asp-action="Detalles"
               asp-route-id="@perfume.IdPerfume">
                <img src="~/images/Perfumes/@perfume.Imagen" style="width:50px; height:50px">
            </a>
            <a asp-controller="Perfumes"
               asp-action="EliminarFavoritos"
               asp-route-idperfume="@perfume.IdPerfume">
                ❌
            </a>
        </div>

    }

}

@if (coleccion != null)
{
    <h1>Mi colécción</h1>
    <hr />
    @foreach (Perfume perfume in coleccion)
    {
        <div class="card">
            <a asp-controller="Perfumes"
               asp-action="Detalles"
               asp-route-id="@perfume.IdPerfume">
                <img src="~/images/Perfumes/@perfume.Imagen" style="width:50px; height:50px">
            </a>
            <a asp-controller="Perfumes"
               asp-action="EliminarDeColeccion"
               asp-route-idperfume="@perfume.IdPerfume">
                ❌
            </a>
        </div>
    }

}

@if (quieroOler != null)
{
    <h1>Quiero probarla</h1>
    <hr />
    @foreach (Perfume perfume in quieroOler)
    {
        <div class="card" style="width: 18rem;">
            <a asp-controller="Perfumes"
               asp-action="Detalles"
               asp-route-id="@perfume.IdPerfume">
                <img src="~/images/Perfumes/@perfume.Imagen" style="width:50px; height:50px">
            </a>
            <a asp-controller="Perfumes"
               asp-action="EliminarDeProbar"
               asp-route-idperfume="@perfume.IdPerfume">
                ❌
            </a>
        </div>
    }
}


