@model Perfume

<h1>Detalles del Perfume</h1>

<a asp-controller="Perfumes"
   asp-action="Index"
   class="btn btn-outline-info">
    Volver
</a>

@{
    bool usuario = (bool)ViewData["USUARIO"];
    List <Comentario> comentarios = ViewData["COMENTARIOS"] as List<Comentario>;
}



@if (usuario == true)
{
    <a asp-controller="Perfumes"
       asp-action="Detalles"
       asp-route-idfav="@Model.IdPerfume"
       class="btn btn-outline-danger">
        Favoritos❤
    </a>
}

@if (usuario == true)
{
    <a asp-controller="Perfumes"
       asp-action="Detalles"
       asp-route-idColeccion="@Model.IdPerfume"
       class="btn btn-outline-info">
        La tengo
    </a>
}

@if (usuario == true)
{
    <a asp-controller="Perfumes"
       asp-action="Detalles"
       asp-route-quieroOler="@Model.IdPerfume"
       class="btn btn-outline-warning">
        Quiero probarla
    </a>
}


<div>
    <h2>@Model.Nombre</h2>
    <p>Marca: @Model.Marca</p>
    <!-- Otras propiedades del perfume -->
    <h3>Notas Olfativas:</h3>
    <ul>
        @foreach (var notaOlor in Model.NotasOlfativas)
        {
            <li>@notaOlor.NombreNota</li>
            <li><img src="~/images/@notaOlor.Imagen" style="height:50px; width; 60px" /></li>
        }
    </ul>
    <!-- Muestra los comentarios -->
    <h2>Comentarios:</h2>
    @if (usuario == true)
    {
        <a asp-controller="Perfumes"
           asp-action="AgregarComentario"
           asp-route-idperfume="@Model.IdPerfume"
           class="btn btn-outline-danger">
            Agregar comentario
        </a>

    }
    @if (comentarios != null && comentarios.Any())
    {
        <ul>
            @foreach ( Comentario comentario in comentarios)
            {
                <li>
                    <strong>@comentario.UsuarioId</strong>: @comentario.comentario
                    <br />
                    <small>Valoración: @comentario.Rating.ToString() estrellas</small>
                    <br />
                    <small>@comentario.FechaPublicacion.ToString("dd/MM/yyyy HH:mm:ss")</small>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No hay comentarios aún.</p>
    }
</div>

