@model ModelIndex
<style>
    body {
        background-color: lavender; /* Puedes ajustar el color según tus preferencias */
    }
</style>

@{
    ViewData["Title"] = "Lista de Perfumes";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="container-fluid">
    <!-- Banner en la parte superior -->
    <div class="banner">
        <img src="~/images/banner.jpg" alt="Banner Image">
        <div class="text-container">
            <h1>Aromágico</h1>
            <p>Eslogan de la App</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form class="d-flex" asp-action="Index" asp-controller="Perfumes">
                <input name="searchString" class="form-control me-1" type="search" placeholder="Search" aria-label="Search" value="@ViewData["CurrentFilter"]">
                <button class="btn btn-dark" type="submit">Search by name</button>
            </form>
        </div>
        <div class="col-md-6">
            <a asp-action="Index" class="text-dark">Back to Full List</a>
        </div>
    </div>


    <div class="row">
        <!-- Sección de Cards en la parte izquierda -->
        <div class="col-md-9">
            <div class="row">
                @foreach (var item in Model.Perfumes)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card" style="width: 18rem;">
                            <img src="~/images/@Html.DisplayFor(modelItem => item.Imagen)" class="card-img-top mx-auto" alt="Perfume Image" style="width:100px; height:100px;">
                            <div class="card-body">
                                <h5 class="card-title">Id Perfume: @Html.DisplayFor(modelItem => item.IdPerfume)</h5>
                                <p class="card-text">Nombre: @Html.DisplayFor(modelItem => item.Nombre)</p>
                                <p class="card-text">Marca: @Html.DisplayFor(modelItem => item.Marca)</p>
                                <p class="card-text">Valoración: @Html.DisplayFor(modelItem => item.Valoracion)</p>
                                <p class="card-text">Favorito: @Html.DisplayFor(modelItem => item.Favorito)</p>

                                <a href="@Url.Action("Detalles", "Perfumes", new { id = item.IdPerfume })" class="btn btn-secondary">Ver Detalles</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- Columna en la parte derecha para la lista de perfumes scrollable -->
        <div class="col-md-3">
            <div>
                @if (Model.Usuario != null)
                {
                    <img src="@Model.Usuario.Imagen" style="width:50px; height:50px" />

                    <a class="btn btn-outline-info" asp-controller="Usuarios" asp-action="EditarPerfil" asp-route-id="@Model.Usuario.IdUsuario">Mi perfil</a>
                    <hr />
                } else
                {
                    <a class="btn btn-outline-info" asp-area="" asp-controller="Usuarios" asp-action="Login">Login</a>
                    <a class="btn btn-outline-info" asp-area="" asp-controller="Usuarios" asp-action="Register">Register User</a>
                }
            </div>
            
            <div style="height: 400px; overflow-y: auto;">
                <h3>Lista de Perfumes</h3>
                <ul class="list-group">
                    @foreach (var item in Model.Perfumes)
                    {
                        <li class="list-group-item">
                            <img src="~/images/@Html.DisplayFor(modelItem => item.Imagen)" alt="Perfume Image" style="width:50px; height:50px; margin-right: 10px;">
                            <span>@Html.DisplayFor(modelItem => item.Nombre)</span>
                            <span class="badge badge-secondary">@Html.DisplayFor(modelItem => item.Valoracion)</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>