@model ModelPrueba
<style>
    body {
        background-color: lavender; /* Puedes ajustar el color según tus preferencias */
    }
</style>
@{
    ViewData["Title"] = "PaginarGrupoPerfumes";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="container-fluid">
    <!-- Banner en la parte superior -->
    <div class="banner">
        <img src="~/images/banner.jpg" alt="Banner Image">
        <div class="text-container">
            <h1>Aromágico</h1>
            <p>Eslogan de la App</p>
        </div>
    </div>
</div>
        <div class="col-md-6">
            <a asp-action="Index" class="text-dark">IR AL SEARCH</a>
        </div>
    </div>

<div class="container">
    <div class="row">
        <!-- Sección de Cards -->
        <div class="col-md-9">
            <div class="row">
                @foreach (var item in Model.VistaPerfumes)
                {
                    <div class="col-md-3 mb-4">
                        <div class="card mx-auto" style="width: 18rem; margin-left: 10px; margin-right: 10px;">
                            <img src="~/images/@Html.DisplayFor(modelItem => item.Imagen)" class="card-img-top mx-auto" alt="Perfume Image" style="width:100px; height:100px;">
                            <div class="card-body">
                                <h5 class="card-title">Id Perfume: @Html.DisplayFor(modelItem => item.IdPerfume)</h5>
                                <p class="card-text">Nombre: @Html.DisplayFor(modelItem => item.Nombre)</p>
                                <p class="card-text">Marca: @Html.DisplayFor(modelItem => item.Marca)</p>

                                <a href="@Url.Action("Detalles", "Perfumes", new { id = item.IdPerfume })" class="btn btn-secondary">Ver Detalles</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3">
                <div>
                    @if (Model.Usuario != null)
                    {
                        <img src="~/images/users/@Model.Usuario.Imagen" style="width:50px; height:50px" />

                        <a class="btn btn-outline-info mt-3" asp-controller="Usuarios" asp-action="EditarPerfil" asp-route-id="@Model.Usuario.IdUsuario">Mi perfil</a>
                        <hr />
                    }
                    else
                    {
                        <a class="btn btn-outline-info mt-3" asp-area="" asp-controller="Usuarios" asp-action="Login">Login</a>
                        <a class="btn btn-outline-info mt-3" asp-area="" asp-controller="Usuarios" asp-action="Register">Register User</a>
                    }

                    <div class="row justify-content-center mt-5">
                        <div>
                            <ul class="pagination">
                                <div>
                                    <ul class="list-group list-group-horizontal">
                                        <li class="list-group-item">
                                            <a asp-controller="Perfumes"
                                               asp-action="PaginarGrupoPerfumes"
                                               asp-route-posicion="1">
                                                Primero
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a asp-controller="Perfumes"
                                               asp-action="PaginarGrupoPerfumes"
                                               asp-route-posicion="@ViewData["ANTERIOR"]">
                                                Anterior
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a asp-controller="Perfumes"
                                               asp-action="PaginarGrupoPerfumes"
                                               asp-route-posicion="@ViewData["SIGUIENTE"]">
                                                Siguiente
                                            </a>
                                        </li>

                                        <li class="list-group-item">
                                            <a asp-controller="Perfumes"
                                               asp-action="PaginarGrupoPerfumes"
                                               asp-route-posicion="@ViewData["ULTIMO"]">
                                                Ultimo
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- Sección de Paginación -->






